---
import Button from '../Btn/Button.astro'
---

<section id="bottomcta">
   <div class="section-container my-20">
      <h3>Clipboard for iOS and MacOS</h3>
      <p class="text mb-10 text-xl">
         Available for free on the App Store. Download for Mac or iOS, sync with iCloud and you're ready to start adding to your clipboard.
      </p>

      <!-- Button Container -->
      <div class="button-container">
         <Button text="Download for iOS" bgColor="bg-strongCyan"/>
         <Button text="Download for Mac" bgColor="bg-lightBlue"/>
      </div>
   </div>
</section>
